/* põhi */
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:wght@400;600;800&display=swap');

* { box-sizing: border-box; }

body, html {
    width: 100%; 
    margin: 0;
    padding: 0;
}

body{
  margin: 0 auto;
  width: 100%;
  padding: 0 16px 16px;   
  font-family: "Bricolage Grotesque", sans-serif;
  color: #000;
  background: #FFF4AC;
}

.fact-box {
background: #FFC800;
padding: 18px 22px;
border-radius: 28px;
font-size: 18px;
font-weight: 400;
width: 1000px;
line-height: 1.6;
margin: 0 auto;
}

.quiz-box {
  background-image: url("Patates.jpg");
  background-size: cover;
  background-position: center;
  height: 300px;
  width: 100%;

  display: flex;              
  justify-content: center;  /* Keskele vertikaalselt */  
  align-items: center; /* Keskele horisontaalselt */
  text-align: center;
  flex-direction: column; 
}

.quiz-box h1 {
  font-size: 50px;
  font-weight: 800;
  color: white;
  margin: 0 0 20px 0;
}

.quiz-box .button {
  text-decoration: none;
  color: #000;
  background: #FFC800;
  padding: 10px 22px;
  border-radius: 999px;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.03em;
  box-shadow: 0 4px 0 #d4a600;
  border: 1px solid #00000010;
  width: fit-content;
  margin: 0 auto;
  display: inline-block;  
  top: 0;
  transition:
    background 0.15s ease,
    transform 0.15s ease,
    box-shadow 0.15s ease,
}

.quiz-box .button:hover {
  background: #FFF4AC;
  transform: translateY(1px) scale(1.02);
  box-shadow: 0 2px 0 #b38a00;
}

.quiz-box .button.active {
  background: #fff;
  border: 2px solid #000;
  box-shadow: 0 3px 0 #b38a00;
}

.hero-content {
  text-align: center;
}

h1 {
  font-size: 50px;
  font-weight: 800;
  color: white;
  margin: 16px 0 12px;
  text-align: center;
  display: block;      /* kindlustab, et text-align töötab */
  width: 100%;         /* h1 võtab kogu laiuse */
}

/* pealkirjad */
h2{ font-size: 25px; font-weight: 700; margin: 28px 0 12px; text-align: center; }
li{ font-size: 22px; font-weight: 700; margin: 20px 0 8px; }
p{ font-size: 18px; font-weight: 400; margin: 12px 0 16px; }


h2 {
  line-height: 1.6;
  margin: 10px auto 14px; /* auto = keskele */
  background: #FFC800;
  padding: 14px 16px;
  border-radius: 25px;
  width: 800px;   
  text-align: center;
}

p{
  line-height: 1.6;
  margin: 10px 0 14px;
  background: #FFC800;     /* tumekollane kast */
  padding: 14px 16px;
  border-radius: 25px;     /* ümar nurk */
}

.news-box {
  display: flex;
  overflow: hidden;
  width: 100%;
  margin: 20px auto;
  height: 200px;
  box-shadow: 0 4px 6px rgba(0,0,0,.0.1);
  width: 100%;
}

.news-text {
  flex: 1;                     /* võtab kogu vasaku poole */
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;     /* vertikaalselt keskele */
  align-items: left;         /* horisontaalselt keskele */
  background: #FFC800;
}

.news-text h2 {
  margin: 0 0 15px 0;
  font-size: 24px;
}

.news-box .button {
  text-decoration: none;
  color: #000;
  background: #FFC800;
  padding: 10px 22px;
  border-radius: 999px;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.03em;
  box-shadow: 0 4px 0 #d4a600;
  border: 1px solid #00000010;
  width: fit-content;
  margin: 0 auto;
  display: inline-block;  
  top: 0;
  transition:
    background 0.15s ease,
    transform 0.15s ease,
    box-shadow 0.15s ease,
}


.news-box .button:hover {
  background: #FFF4AC;
  transform: translateY(1px) scale(1.02);
  box-shadow: 0 2px 0 #b38a00;
}


.news-box .button.active {
  background: #fff;
  border: 2px solid #000;
  box-shadow: 0 3px 0 #b38a00;
}

.news-image {
  flex: 1;                     /* võtab parema poole */
  background-image: url("uudised.png");
  background-size: cover;
  background-position: center;
}

