.fact-box {
  background: #FFC800;
  padding: 18px 22px;
  border-radius: 25px;
  font-size: 18px;
  font-weight: 400;
  max-width: 900px;
  line-height: 1.6;
  margin: 0 auto;
}

/* Üleval quiz nupp */
.hero-content {
  text-align: center;
}

.hero-content a.button {
  text-decoration: none;
  color: #000;
  background: #FFC800;
  padding: 12px 28px;
  border-radius: 999px;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.03em;
  box-shadow: 0 4px 0 #d4a600;
  border: 1px solid #00000010;
  display: inline-block;
  margin: 20px auto;
  top: 0;
  transition:
    background 0.15s ease,
    transform 0.15s ease,
    box-shadow 0.15s ease,
    top 0.15s ease;
}

.hero-content a.button:hover {
  background: #FFF4AC;
  transform: translateY(1px) scale(1.02);
  top: 1px;
  box-shadow: 0 2px 0 #b38a00;
}

.hero-content a.button.active {
  background: #ffd504;
  border: 2px solid #000;
  box-shadow: 0 3px 0 #b38a00;
}

/* Üldine sisu */
body {
  margin: 0 auto;
  max-width: 980px;
  padding: 0 16px 16px;
  font-family: "Bricolage Grotesque", sans-serif;
  color: #000;
  background: #FFF4AC;
}

/* Pealkirjad */
h1 { 
  font-size: 50px; 
  font-weight: 800; 
  margin: 16px 0 12px; 
}

h2 { 
  font-size: 25px; 
  font-weight: 700; 
  margin: 28px 0 12px; 
  line-height: 1.6;
  margin: 10px auto 14px;
  background: #FFC800;
  padding: 14px 16px;
  border-radius: 25px;
  max-width: 700px;
  text-align: center;
}

h3 { 
  font-size: 22px; 
  font-weight: 700; 
  margin: 20px 0 8px; 
}

p {
  line-height: 1.6;
  margin: 10px 0 14px;
  background: #FFC800;
  padding: 14px 16px;
  border-radius: 25px;
}

.news-box {
  display: flex;
  overflow: hidden;
  border-radius: 25px;
  width: 100%;
  margin: 20px auto;
  height: 200px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  width: 100%;
}

.news-text {
  flex: 1;                     /* võtab kogu vasaku poole */
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;     /* vertikaalselt keskele */
  align-items: flex-start;         /* horisontaalselt keskele */
  background: #FFC800;
}

.news-text h2 {
  margin: 0 0 15px 0;
  font-size: 24px;
}

.news-box .button {
  text-decoration: none;
  color: #000;
  background: #FFC800;
  padding: 10px 22px;
  border-radius: 999px;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.03em;
  box-shadow: 0 4px 0 #d4a600;
  border: 1px solid #00000010;
  width: fit-content;
  margin: 0 auto;
  display: inline-block;  
  top: 0;
  transition:
    background 0.15s ease,
    transform 0.15s ease,
    box-shadow 0.15s ease;
}


.news-box .button:hover {
  background: #FFF4AC;
  transform: translateY(1px) scale(1.02);
  box-shadow: 0 2px 0 #b38a00;
}


.news-box .button.active {
  background: #fff;
  border: 2px solid #000;
  box-shadow: 0 3px 0 #b38a00;
}

.news-image {
  flex: 1;                     /* võtab parema poole */
  background-image: url("pildid_meelelahutus/uudised.png");
  background-size: cover;
  background-position: center;
}