@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:wght@400;600;800&display=swap');

ul.navbar {
  list-style-type: none;        
  margin: 0;                    
  padding: 0 40px;              
  background-color: #333333;    
  width: 100%;
  display: flex;                
  justify-content: flex-end;    
  align-items: center;          
  height: 60px;                 
}

ul.navbar li {
  margin-left: 10px;
}

ul.navbar li a {
  display: block;
  color: #ffffff;                
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  font-weight: 500;
  transition: background-color 0.3s, color 0.3s;
}

* { box-sizing: border-box; }

html, body {
  margin: 0;
  padding: 0;
}

.main-wrapper {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 16px;
}

.hero-full {
  width: 100%;
  background-color: #ffffff;
  padding: 100px 0 100px;  
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
  position: relative;
  z-index: 10;            
}

.hero-content {
  max-width: 980px;
  margin: 0 auto;
  padding: 0 24px;
  text-align: center;
}

.hero-content h1 {
  font-size: 50px;
  font-weight: 800;
  margin: 0 0 16px;
}

.hero-content p {
  font-size: 20px;
  line-height: 1.6;
  margin: 0;
}

body {
  font-family: "Bricolage Grotesque", sans-serif;
  color: #000;
  background: #FFF4AC;
  margin: 0;
  padding: 0;
}
