h1 {
  font-size: 50px;
  font-weight: 800;
  margin: 16px 0 12px;
}

h2 {
  font-size: 25px;
  font-weight: 700;
  margin: 28px 0 12px;
}

h3 {
  background: #FFC800;
  border-radius: 25px;
  font-size: 22px;
  font-weight: 700;
  line-height: 1.6;
  margin: 10px 0 14px;
  padding: 14px 35px;
}

p {
  background: #FFC800;
  border-radius: 25px;
  line-height: 1.6;
  margin: 10px 0 14px;
  padding: 35px;
}

img {
  background: #fff;
  border-radius: 25px;
  display: block;
  height: auto;
  margin: 12px auto;
  object-fit: contain;
  width: 60%;
}

.pildid-kõrvuti {
  column-gap: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 20px;
}

.pildid-kõrvuti img {
  width: 45%;                 
  height: auto;
  border-radius: 20px;
  height: auto;
  object-fit: cover;
  width: 45%;
}


.sort {
  display: block;
  height: 200px;
  margin: 12px auto;
  max-width: 300px;
  object-fit: contain;
}


.sources {
  color: #000;
  font-size: 18px;
  color: #000;
  line-height: 1.8;
  text-align: left;
}

.sources a {
  color: #000;
  font-weight: 500;
  text-decoration: none;
  font-weight: 500;
  display: inline;           
}

.sources a::after {
  content: ", ";
}

.sources a:last-child::after {
  content: "";
}

