 /* fondid */
h1{ font-size: 50px; font-weight: 800; margin: 16px 0 12px; }
h2{ font-size: 25px; font-weight: 700; margin: 28px 0 12px; }
h3{ font-size: 22px; font-weight: 700; margin: 20px 0 8px; }

 /* pealkirjad */
h3{
  line-height: 1.6;
  margin: 10px 0 14px;  /* 체lemine ja suurem alumine vahe */
  background: #FFC800;     
  padding: 14px 35px;  /* vahe teksti ja 채채re vahel */
  border-radius: 25px;     
}

 /* tekst */
p{
  line-height: 1.6;
  margin: 10px 0 14px;
  background: #FFC800;    
  padding: 35px 35px; 
  border-radius: 25px;     
}

 /* pildid */
img{
  display: block;  /* plokkelement (terve rida) */
  width: 100%;
  height: auto;           
  object-fit: contain; /* k채rpimata */
  border-radius: 25px;
  margin: 12px 0;
  background: #fff;        

}

/* kartuli sortide pildid */
.sort {
  max-width: 300px;    
  height: 200px;
  margin: 12px auto;
  display: block;
  object-fit: contain;
}

/* allikad */
.sources {
  text-align: left;
  font-size: 18px;
  color: #000;
  line-height: 1.8;
}

.sources a {
  color: #000;
  text-decoration: none;
  font-weight: 500;
  display: inline;           
}

.sources a::after {
  content: ", ";             
}

.sources a:last-child::after {
  content: "";               
}

