/* põhi */
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:wght@400;600;800&display=swap');

/* navigation bar */
ul.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0 40px;
  background-color: #333333;    /* must taust */
  width: 100vw;
  margin-left: calc(-50vw + 50%); /* servast servani */
  display: flex;
  justify-content: flex-end;      /* nupud paremal */
  align-items: center;
  position: relative;             /* ei jää scrollides kinni */
  height: 60px;
}

/* menüülingid */
ul.navbar li {
  margin-left: 10px;
}

ul.navbar li a {
  display: block;
  color: #ffffff;                /* valge tekst */
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  border-radius: 0;              /* eemaldame mullid */
  background: none;              /* ilma taustata */
  font-weight: 500;
  transition: background-color 0.3s, color 0.3s;
}

/* hover = kollane taust + must tekst */
ul.navbar li a:hover {
  background-color: #FFC800;
  color: #000;
}

/* vajutatud = jääb tume */
ul.navbar li a:active {
  background-color: #111;
  color: #fff;
}

* { box-sizing: border-box; }

html, body {
  margin: 0;
  padding: 0;
}

/* valge ülemine riba */
.hero-full {
  width: 100vw;
  background-color: #ffffff;
  margin-left: calc(-50vw + 50%);
  padding: 100px 0 100px;  
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
  position: relative;
  z-index: 10;            
}

.hero-content {
  max-width: 980px;
  margin: 0 auto;
  padding: 0 24px;
}

.hero-content h1 {
  font-size: 50px;
  font-weight: 800;
  margin: 0 0 16px;
}

.hero-content p {
  background: none;
  padding: 0;
  font-size: 20px;
  line-height: 1.6;
  margin: 0;
}

body{
  margin: 0 auto;
  max-width: 980px;
  padding: 0 16px 16px;   
  font-family: "Bricolage Grotesque", sans-serif;
  color: #000;
  background: #FFF4AC;
}

/* pealkirjad */
h1{ font-size: 50px; font-weight: 800; margin: 16px 0 12px; }
h2{ font-size: 25px; font-weight: 700; margin: 28px 0 12px; }
h3{ font-size: 22px; font-weight: 700; margin: 20px 0 8px; }

h3{
  line-height: 1.6;
  margin: 10px 0 14px;
  background: #FFC800;     /* tumekollane kast */
  padding: 14px 16px;
  border-radius: 25px;     /* ümar nurk */
}

p{
  line-height: 1.6;
  margin: 10px 0 14px;
  background: #FFC800;     /* tumekollane kast */
  padding: 14px 16px;
  border-radius: 25px;     /* ümar nurk */
}

/* pildid */
img{
  display: block;
  width: 100%;
  height: auto;           
  object-fit: contain;     
  border-radius: 25px;
  margin: 12px 0;
  background: #fff;        /* valge taust, kui tekib tühimik */
  box-shadow: 0 4px 16px rgba(0,0,0,.08);
}

/* allikad */
a{
  display: block;
  text-decoration: none;
  color: #ffffff;
  background: #ffffff;
  padding: 10px 12px;
  border-radius: 25px;
  margin: 8px 0;
  box-shadow: 0 2px 10px rgba(0,0,0,.05);
}
a:hover{ background: #000000; }

@media screen and (max-width: 700px){
  h1{ font-size: 38px; }
  h2{ font-size: 22px; }
}


